@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url("styles/header.css");
@import url("styles/about-us.css");
@import url("styles/metrics.css");
@import url("styles/vacancies.css");
@import url("styles/jobs__card.css");
@import url("styles/feedback.css");
@import url("styles/footer.css");

:root {
    --text-color: #667085;
    --red-color: #8E2424;
    --black-color: #101828;
    --red-background: rgba(142,36,36, 0.1);
    --light-gray: #EAECF0;
    --footer-color: #f9fafb;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

main {
    padding: 0 5rem;
}