.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    padding: 6rem 0;
}

.about-us__span {
    color: var(--red-color);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.about-us__title {
    color: var(--black-color);
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.about-us__text {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0 23%;
}