.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--red-background);
    padding: 4rem;
    margin: 0 2rem 6rem 2rem;
}

.feedback__text {
    color: var(--red-color);
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.feedback__title {
    color: var(--black-color);
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 2rem;
}

.feedback__img {
    padding-bottom: 1rem;
}

.feedback__title2 {
    color: var(--black-color);
    padding-bottom: 0.25rem;
}

.feedback__text2 {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 400;
}