.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--footer-color);
    padding: 6rem 0;
}

.footer__title {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 1.25rem;
}

.footer__title-text {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    align-items: center;

    width: 33%;
}

.footer__contact {
    width: 65%;
    border: 1px solid #d0d5dd;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
}

.footer__contact::placeholder {
    color: var(--text-color);
    font-weight: 400;
}

.footer__button {
    border: 1px solid var(--red-color);
    border-radius: 0.5rem;
    background-color: var(--red-color);
    color: #ffffff;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
}

.footer__text {
    font-weight: 400;
    color: var(--text-color);
    margin-top: 2rem;
}